.main-aboutus {
  height: 80vh;
  background-color: #fff;
  text-align: left;
  padding-top: 80px; /* To ensure it doesn't overlap with the navbar */
  position: relative;
  z-index: 1;
}

.about {
  width: 80%;
  margin: auto;
  padding: 30px ;
  position: relative;
  z-index: 1;
}

.about-article h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "raleway", sans-serif;
  margin-bottom: 50px;
  position: relative;
}

.about-article h1:before{
  background-color: #e3960b;
  content: " ";
  display: block;
  position: absolute;
  height: 4px;
  width: 100px;
  bottom: 45px;
  left: 40%;
}
.about-article h1:after {
  background-color: #e3960b;
  content: " ";
  display: block;
  position: absolute;
  height: 4px;
  width: 100px;
  bottom: 0;
  right: 40%;
}


.about-content {
  font-size: 17px;
  color: #000;
  font-weight: 600;
  line-height: 1.5;
}

/* Media Queries for responsiveness */

/* Large screens */
@media (max-width: 1200px) {
  .about {
    width: 90%;
  }
}

/* Medium screens */
@media (max-width: 992px) {
  .about-article h1 {
    font-size: 40px;
  }

  .about-content {
    font-size: 16px;
  }

  .about-article h5 {
    font-size: 28px;
  }

  article p {
    font-size: 16px;
  }
}

/* Small screens */
@media (max-width: 768px) {
  .about-article h1 {
    font-size: 35px;
  }

  .about-content {
    font-size: 15px;
  }

  .about-article h5 {
    font-size: 25px;
  }

  article p {
    font-size: 15px;
  }
}

/* Extra small screens */
@media (max-width: 576px) {
  .main-aboutus {
    padding-top: 60px; /* Smaller top padding for smaller screens */
  }

  .about-article h1 {
    font-size: 30px;
  }

  .about-content {
    font-size: 14px;
  }

  .about-article h5 {
    font-size: 22px;
  }

  article p {
    font-size: 14px;
  }
}

/* Extra extra small screens */
@media (max-width: 375px) {
  .about-article h1 {
    font-size: 25px;
  }

  .about-content {
    font-size: 13px;
  }

  .about-article h5 {
    font-size: 20px;
  }

  article p {
    font-size: 13px;
  }
}
