.main-aboutus {
  height: 100vh;
  background-color: #fff;
  text-align: left;
  padding-top: 80px; /* To ensure it doesn't overlap with the navbar */
  position: relative;
  z-index: 1;
}

.about {
  width: 100vw;
  margin: auto;
  padding: 30px ;
  position: relative;
  z-index: 1;
}

.about-article h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "raleway", sans-serif;
  margin-bottom: 50px;
  position: relative;
}

.about-article h1:before{
  background-color: #e3960b;
  content: " ";
  display: block;
  position: absolute;
  height: 4px;
  width: 100px;
  bottom: 45px;
  left: 40%;
}
.about-article h1:after {
  background-color: #e3960b;
  content: " ";
  display: block;
  position: absolute;
  height: 4px;
  width: 100px;
  bottom: 0;
  right: 40%;
}


.about-content {
  font-size: 17px;
  color: #000;
  font-weight: 600;
  line-height: 1.5;
}

/* Media Queries for responsiveness */

/* Large screens */
@media (max-width: 1200px) {
  .about {
    width: 100%;
  }
}

/* Medium screens */
@media (max-width: 992px) {
  .about-article h1 {
    font-size: 40px;
  }
.about{
  margin-top: -10px;
}
  .about-content {
    font-size: 16px;
  }
  .about-article h1:before{
    height: 4px;
    width: 110px;
    bottom: 45px;
    left: 39%;
  }
  .about-article h1:after{
    height: 4px;
    width: 110px;
    top: 45px;
    right: 39%;
  }
}

/* Small screens */
@media (max-width: 768px) {
  .about-article h1 {
    font-size: 35px;
  }
  .about-content {
    font-size: 15px;
  }
  .about{
    margin-top: -40px;
   }
  .about-article h1:before{
    height: 4px;
    width: 90px;
    bottom: 40px;
    left: 38%;
  }
  .about-article h1:after{
    height: 4px;
    width: 90px;
    top: 40px;
    right: 37%;
  }
}

/* Extra small screens */
@media (max-width: 576px) {
  .about{
    margin-top: -10px;
  }
   .about-article h1 {
    font-size: 30px;
  }

  .about-content {
    font-size: 14px;
  }
  .about-article h1:before{
    height: 4px;
    width: 70px;
    bottom: 35px;
    left: 35%;
  }
  .about-article h1:after{
    height: 4px;
    width: 70px;
    top: 35px;
    right: 35%;
  }
}
/* Extra extra small screens */
@media (max-width: 375px) {
  .about-article h1 {
    font-size: 25px;
  }

  .about-content {
    font-size: 10px;
  }
  .about{
   margin-top: -10px;
  }
  .about-article h1:before{
    height: 4px;
    width: 60px;
    bottom: 35px;
    left: 30%;
  }
  .about-article h1:after{
    height: 4px;
    width: 60px;
    top: 30px;
    right: 28%;
  }
}
